.account-item {
  position: relative;

  &__name {
    position: absolute;
    top: 6px;
    left: 30px;
  }

  .icon-active {
    position: absolute;
    top: 10px;
  }

  &__bank_info {
    margin-top: 50px;
  }

  &__last_settlement {
    position: absolute;
    bottom: 25px;
    left: 9px;
  }

  &__description {
    position: absolute;
    top: 5px;
    right: 0;
    margin-right: 5px;
  }

  &__bottom {
    &__currency {
      position: absolute;
      left: 0;
      bottom: 0;
      border-top-right-radius: 4px;
    }

    &__actions {
      position: absolute;
      bottom: 0;
      right: 10px;
    }
  }
}